// Fonts families
$font-primary: 'Arial Regular',sans-serif;
$font-Arial: 'Arial Regular',sans-serif;
$font-ArialBold: 'Arial Bold',sans-serif;
$font-SVNGilroy-SemiBold: 'SVN-Gilroy SemiBold',sans-serif;
$font-SVNGilroy-Bold: 'SVN-Gilroy Bold',sans-serif;
$font-SVNGilroy-Black: 'SVN-Gilroy Black',sans-serif;
$font-SVN-Dancing-script: 'SVN-Dancing Script Regular',sans-serif;
$font-SFUFuturaExtraBoldOblique: 'SFU Futura ExtraBoldOblique',sans-serif;
//$font-secondary: 'Playfair Display',sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 17px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;
